<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Launch and grow your<br>
                own fitness studio</div>
                <div class="intro-lead-in">Hit the ground running with our online learning tools. We provide<br>
                in-depth guidance on the major topics that you will face.<br>
                Let’s grow.</div>
                <!--<div class="intro-lead-in" style="visibility: hidden">#</div>
                <div class="intro-lead-in" style="visibility: hidden">#</div>-->
                <a href="#services" class="page-scroll">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </a>
                <div class="intro-lead-in" style="visibility: hidden">#</div
            </div>
        </div>
    </header>